
body {
  background-color: #fcf2cf;
}

body, html {
  margin: 0;
  padding: 0;
}


.main-title {
    margin: auto;
    font-size: xx-large;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .main-subtitle {
    margin: auto;
    font-size: small;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.186);
    font-family:monospace;
    font-style: italic
  }

  .menu-title {
    margin: auto;
    font-size: large;
    width: 20%;
    padding: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .paragraph {
    margin: auto;
    width: 90%;
    padding: 0px;
    text-align:left;
    font-family:monospace, Helvetica, sans-serif;
  }

  .main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    transition: transform 0.3s ease; /* Add transition here */
  }

  .main-logo:hover {
    transform: scale(1.1);
  }
  .parallax {
    /* Set a specific height */
    min-height: 500px; 

    /* Set up the container to position the text */
    position: relative;
}
#parallax1::before {
  background-image: url("images/car1.webp");
}

#parallax2::before {
  background-image: url("images/car2.webp");
  transform: scaleX(-1)
}
#zephyrx8::before {
  background-image: url("images/car5.webp");
  transform: scaleX(-1)
}
#veritas::before {
  background-image: url("images/car4.webp");
  transform: scaleX(-1)
}
#auroragts::before {
  background-image: url("images/car3.webp");
  transform: scaleX()
}
#nexura::before {
  background-image: url("images/car6.webp");
  transform: scaleX(-1)
}
#zenith::before {
  background-image: url("images/car8.webp");
  transform: scaleX()
}
#cobaltz1::before {
  background-image: url("images/car9.webp");
  transform: scaleX(-1)

}
#crimsonvortex:before{
  background-image: url("images/car11.webp");
  transform: scaleX()

}


.parallax::before {
  /* The image used */
  content: "";

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Make the image darker */
  filter: brightness(50%);

  /* Position and size the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind the text */
  transition: filter 0.3s ease;

  /* Add a drop shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parallax:hover::before {
    /* Return to full brightness on hover */
    filter: brightness(100%);
}
.parallax:hover .parallax-text {
  /* Make the text disappear on hover */
  opacity: 0;
}

.parallax-text {
    /* Position the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Style the text */
    color: white;
    font-size: xx-large;
    font-family:Poppins, Helvetica, sans-serif;
    text-align: center;
    transition: opacity 0.3s ease; /* Add transition here */
}
.parallax:hover .price-text {
  /* Make the text disappear on hover */
  opacity: 0;
}
.price-text {
  /* Position the text */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  /* Style the text */
  color: #f0e4bd;
  font-size: small;
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; /* Add transition here */
}
.title-text {
  /* Position the text */

  /* Style the text */
  color: black;
  font-size: large;
  font-family:Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; /* Add transition here */
}
.small-title-text {
  /* Position the text */

  /* Style the text */
  color: black;
  font-size: small;
  font-family:Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; /* Add transition here */
}




/* Reset list styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;

  background-color: #92886e;
}

/* Style each list item */
nav ul li {
  display: inline;
}

/* Style each link */
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    opacity: 0.6;
    text-decoration: none;
    font-size:large;
    font-family:Poppins, Helvetica, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease; /* Add transition here */
}


/* Change color on hover */
nav ul li a:hover {
  opacity: 1;
  background-color: #111;
  transform: scale(1.1); /* Increase size to 110% */
}


.top-cars-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}

.top-cars-list li {
  display: inline-block;
  width: 30%;
  height: 20%;
  margin: 20px; /* Add some margin for spacing */
}

.car-list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}

.car-list li {
  display: inline-block;
  width: 20%;
  height: 20%;
  margin-right: 20px; /* Add some right margin for spacing */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.car-list li img {
  width: 100%;
  height: auto;
}