
body {
  background-color: #fcf2cf;
}

body, html {
  margin: 0;
  padding: 0;
}


.main-title {
    margin: auto;
    font-size: xx-large;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .main-subtitle {
    margin: auto;
    font-size: small;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.186);
    font-family:monospace;
    font-style: italic
  }

  .menu-title {
    margin: auto;
    font-size: large;
    width: 20%;
    padding: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .paragraph {
    margin: auto;
    width: 90%;
    padding: 0px;
    text-align:left;
    font-family:monospace, Helvetica, sans-serif;
  }

  .main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    transition: transform 0.3s ease; 
  }

  .main-logo:hover {
    transform: scale(1.1);
  }

.price-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  color: #f0e4bd;
  font-size: small;
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease;
}
.title-text {
  color: black;
  font-size: large;
  font-family:Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; 
}
.title-text.paragraph {

    color: black;
    font-size: large;
    font-family: Poppins, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    transition: opacity 0.3s ease;
}
.small-title-text {

  color: black;
  font-size: small;
  font-family:Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; 
}




nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;

  background-color: #92886e;
}


nav ul li {
  display: inline;
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    opacity: 0.6;
    text-decoration: none;
    font-size:large;
    font-family:Poppins, Helvetica, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

nav ul li a:hover {
  opacity: 1;
  background-color: #111;
  transform: scale(1.1);
}

.car-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 

}
.top-cars-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
}

.top-cars-list li {

  display: inline-block;
  width: 40%;
  height: 20%;
  margin: 20px; 
}

.old-car-list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.old-car-list li {
  display: inline-block;
  width: 30%;
  height: 20%;
  margin-right: 20px; 
  margin-bottom: 20px;
}

.old-car-list li img {
  width: 100%;
  height: auto;
}

.showroom-gallery-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
}

.showroom-gallery-list li {
  display: inline-block;
  width: 30%;
  height: 20%;
  margin: 20px;
}

.showroomgallery img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s ease; 
}
.showroomgallery img:hover{
  transform: scale(1.1);
}

.flipped-image {
  transform: scaleX(-1);
}
@media screen and (max-width: 768px) {
  .top-cars-list li,
  .old-car-list li,
  .showroom-gallery-list li {
    width: 100%; 
  }

  .old-car-list li {
    margin-right: 0;
  }
}

#socialmedialist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
}
#socialmedialist li{
  display: inline-block;
  width: 5%;
  height: 5%;
  margin: 20px; 

}
#socialmedialist li img:hover{
  transform: scale(1.1);

}
#socialmedialist li img{
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}

#loginForm {
  margin: auto;
  width: 20%;
  padding: 30px 20px; 
  text-align: center;
  font-family: Poppins, Helvetica, sans-serif;
  transition: opacity 0.3s ease; 
  background: #f0f0f0; 
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}
#loginForm label {
  color: black;
  font-size: x-large;
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; 
  padding: 20px 20px; 
}
#loginForm input:not([type='checkbox']) {
  width: 70%;
  padding: 0px 0px;
  font-size: medium;
  font-family: Poppins, Helvetica, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease; 
}
#loginForm input, #loginForm label {
  margin-bottom: 20px; 
}

#loginHeader{

  height:15vh;
}